body {
    background-color:purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}

.container {
    background-image: url("../images/dreamstime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px;
}